# Node
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
build/
dist/
out/
coverage/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editors and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
.cache/
*.tgz
coverage/
